node_modules
.DS_Store

dist
storybook-static

*.local
**/*.tsbuildinfo
*.log
*storybook.log

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
